html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: rgb(86, 85, 85);
    background-color: #fbfeff;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* NAVBAR */
#bar{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0; 
    z-index: 99;
    background: #004A7C;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}

#bar img{
    margin: 20px;
}

#bar a{
    align-self: center;
    font-size: 17px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    color: #fbfeff;
}

#bar a:hover{
    color: #24c5c1;
}

#link{
    display: flex;
    flex-basis: 35%;
    justify-content: space-between;
}

#blog{
    display: flex;
    margin-right: 1%;
    border-radius: 25px;
    background-color: #24c5c1;
    align-self: center;
    padding: 5px 20px 5px 20px;
}
/* FINE NAVBAR */

#page1{
    width: 100%;
    height: 80%;
}

#page2{
    background-color: #004A7C;
    width: 100%;
    height: 1500px;
}

#top{
    margin: 10% 7% auto 7%;
}

#graf{
    width: 45%;
    float: right;
}

#text{
    margin-top: 2%;
    float: left;
    width: 50%;
}

#text h1{
    color: #004A7C;
}

/*more*/
#piu{
    font-size: 15px;
    padding: 12px 30px 12px 30px;
    border: 1.5px solid #004A7C;
    text-align: center;
    position: relative;
    top: 21px;
    transition: all .35s;
}

#piu span{
    position: relative;
    z-index: 2;
}

#piu:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #004A7C;
    transition: all .35s;
}

#piu:hover{
    color: #fbfeff;
  }
  
#piu:hover:after{
    width: 100%;
}
/*end more*/

#container{
    height: 350px;
    margin: 0 5% auto 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 5%;
}

#a,#b,#c{
    margin-top: -10%;
    background-color: #fbfeff;
    box-shadow: 3px 3px 5px 2px #777777;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

#center{
    margin: 10% 7%;
}

#left{
    float: left;
    width: 45%;
    color: #fbfeff;
}

#right{
    float: right;
    width: 45%;
    color: #fbfeff;
    margin-top: 1.5%;
}

#banche,#noi{
    border: 1px solid #fbfeff;
    height: 240px;
    width: 49%;
    float: left;
    text-align: center;
}

#noi{
    background-color: #fbfeff;
    color: #004A7C;
    float: right;
}

#right h1{
    font-size: 100px;
    margin: 0;
}